Repository ai-shifu/remark-flow: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, jest-tests

prettier:
  name: Prettier
  entry: prettier
  language: node
  args:
  - --write
  additional_dependencies:
  - prettier@^3.6.2
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'npx eslint --fix --max-warnings 0 $(echo "$@" | tr " " "\n" | grep -E "\.(js|jsx|ts|tsx)$") || true' --
  language: system
  pass_filenames: true

typescript-check:
  name: TypeScript type check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: true

jest-tests:
  name: Run Jest tests
  entry: npm test -- --findRelatedTests
  language: system
  pass_filenames: true

chore: update pre commit conf
  .pre-commit-config.yaml
Due: none

chore: add eslint ,prettier,husky
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierignore
  eslint.config.js
  package.json
  prettier.config.js
  tsconfig.json
Due: jest-tests

chore: update package lock
  package-lock.json
Due: none

Chore add eslint prettier husky (#4)
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierignore
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  src/index.ts
  src/interaction-parser.ts
  src/remark-custom-variable.ts
  src/remark-flow.ts
  src/remark-interaction.ts
  tsconfig.json
Due: prettier, eslint, typescript-check, jest-tests

fix: build issue of include test and mocks
  tsconfig.json
Due: none

Update tsconfig.json
  tsconfig.json
Due: none

fix: tsconfig
  tsconfig.json
Due: none

fix(build): exclude tests and mocks from production build (#5)
  tsconfig.json
Due: none

chore: update eslint config
  eslint.config.js
Due: jest-tests

chore: update conf
  eslint.config.js
Due: jest-tests

Update eslint.config.js
  eslint.config.js
Due: jest-tests

chore: update eslint config (#6)
  eslint.config.js
Due: jest-tests

chore: lint fix the test files
  tests/button-values-fallback.test.ts
  tests/chinese-variable-names.test.ts
  tests/index.test.ts
  tests/parser-demo.test.ts
  tests/remark-custom-variable.test.ts
  tests/remark-flow.test.ts
  tests/remark-interaction.test.ts
Due: typescript-check, jest-tests

chore: add agents md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

doc: update source structure in agents
  AGENTS.md
Due: none

chore: add commitizen config
  cz.json
  package-lock.json
  package.json
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

chore: add .github/instructions/agents.instructions.md
  .github/instructions/agents.instructions.md
Due: none

chore: update readme.md
  README.md
  README_ZH-CN.md
Due: none

chore: update readme
  README.md
  README_ZH-CN.md
Due: none

Update README_ZH-CN.md
  README_ZH-CN.md
Due: none

Update README.md
  README.md
Due: none

chore: fix eslint warnings
  src/interaction-parser.ts
Due: prettier, eslint, typescript-check, jest-tests

chore: format files with npm run format
  AGENTS.md
  README.md
  README_ZH-CN.md
  __mocks__/unist-util-visit.ts
  eslint.config.js
  jest.config.js
  tests/test-utils.ts
  tsconfig.json
Due: typescript-check, jest-tests

chore: add markdownlint configuration with consistent local and pre-commit behavior
  .markdownlint-cli2.jsonc
  AGENTS.md
  package-lock.json
  package.json
Due: none

chore: update markdownlint
  .markdownlint-cli2.jsonc
Due: none

docs: standardize README format to match MarkdownFlow ecosystem
  README.md
  README_ZH-CN.md
Due: none

chore:update header
  README.md
  README_ZH-CN.md
Due: none

docs: update README with standalone usage examples and markdown-flow-ui integration
  README.md
  README_ZH-CN.md
Due: none

docs: update readme.md
  README.md
Due: none

feat: add markdownlint support for markdown linting and formatting
  .markdownlint.yaml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  README_ZH-CN.md
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat: add GitHub Actions workflow for automated publishing (#20)
  .github/workflows/publish.yml
  .markdownlint.yaml
  .versionrc.json
  cz.json
  package-lock.json
  package.json
Due: none

fix: align pre-commit configuration with Prettier for JSON formatting
  .pre-commit-config.yaml
Due: none

fix: align pre-commit configuration with Prettier for JSON formatting (#21)
  .pre-commit-config.yaml
  tsconfig.json
Due: none

fix: improve GitHub Actions workflow reliability and fix formatting
  .github/workflows/publish.yml
Due: none

Path conditions:
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  typescript-check: any of: \.ts$
  jest-tests: any of: \.(ts|js)$
